.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background-color: whitesmoke;
}
.calculator-display {
  grid-column: span 4;
  text-align: right;
  padding: 10px;
  font-size: 2rem;
}

.btn-equal {
  grid-row: span 2;
  background-color: #ff9f43;
}

.btn-zero {
  grid-column: span 2;
}

button {
  padding: 20px;
  font-size: 1.2em;
  cursor: pointer;
}
